/* Variables */
$div-height: 15em;

// Colors
$gold: #ed0;
$grey: #ccc;
$white: #fff;
$red: #700;
$bg-white: rgba(255,255,255,0.2);
$bg-black: rgba(0,0,0,0.5);

// Font Families
$verdana: Verdana,sans-serif;
