@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	text-size-adjust: 100%;
	font-family: $verdana;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $grey;
	display: block;
	padding: 2em;
	background-image: url('../img/kobe-xi.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.text {
	color: $white;
	background-color: $bg-black;
	width: 100%;
	max-width: 50em;
	margin: 0 auto;
	border-radius: 0.5em;
}

.blurb {
	max-width: 40em;
	margin: 2em auto;
	color: $white;
}

.main {
	background-color: $bg-white;
	width: 100%;
	max-width: 50em;
	margin: 0 auto;
	padding: 0.75em;
	overflow: hidden;
	height: 16em;
	border-radius: 0.5em;
}

.left, .right{
	overflow: visible;
	position: relative;
}

@keyframes up {
	0% {
		top: -$div-height;
	}
	5% {
		top: -2 * $div-height;
	}
	25% {
		top: -2 * $div-height;
	}
	30% {
		top: -3 * $div-height;
	}
	50% {
		top: -3 * $div-height;
	}
	55% {
		top: -4 * $div-height;
	}
	75% {
		top: -4 * $div-height;
	}
	80% {
		top: -5 * $div-height;
	}
	100% {
		top: -5 * $div-height;
	}
}

@keyframes down {
	0% {
		top: -4 * $div-height;
	}
	5% {
		top: -3 * $div-height;
	}
	25% {
		top: -3 * $div-height;
	}
	30% {
		top: -2 * $div-height;
	}
	50% {
		top: -2 * $div-height;
	}
	55% {
		top: -$div-height;
	}
	75% {
		top: -$div-height;
	}
	80% {
		top: 0;
	}
	100% {
		top: 0;
	}
}

.left {
	top: -7 * $div-height;
	@include overshoot(down);
	@include trans-white(0.25);
	transition: color 250ms ease-in-out;
}

.right {
	top: -$div-height;
	@include overshoot(up);
	color: $gold;
}

.list-up{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	height: 15rem;
	font-size: 1.5em;
	li{
		height: 15rem;
		position: relative;
		top: 2.5em;
	}
}

.list-down{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	li{
		height: 15rem;
	}
	i{
		font-size: 12em;
	}
}

.buy{
	color: $white;
	display: block;
	max-width: 10em;
	background-color: $red;
	padding: 2em;
	border-radius: 0.5em;
	margin: 2em auto;
	overflow: hidden;
	text-transform: uppercase;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
		border: solid 2px darken($red,2.5%);
	}
}

@media only screen and (min-width: 38em) {
	.right{
		margin-top: $div-height;
	}

	.left{
		@include trans-white(0.65);
	}

	.list-up{
		font-size: 2em;
	}

	.main{
		&:hover{
			 .left{
				@include trans-white(0.85);
			}
		}
	}
}
